In [1]:
import pandas as pd 
import numpy as np

df = pd.read_csv('https://raw.githubusercontent.com/AugustLONG/ML01/master/01decisiontree/AllElectronics.csv')
df.drop("RID",axis=1, inplace = True) #RID는 그냥 Index라서 삭제

In [2]:
df

            age  income student credit_rating class_buys_computer
0         youth    high      no          fair                  no
1         youth    high      no     excellent                  no
2   middle_aged    high      no          fair                 yes
3        senior  medium      no          fair                 yes
4        senior     low     yes          fair                 yes
5        senior     low     yes     excellent                  no
6   middle_aged     low     yes     excellent                 yes
7         youth  medium      no          fair                  no
8         youth     low     yes          fair                 yes
9        senior  medium     yes          fair                 yes
10        youth  medium     yes     excellent                 yes
11  middle_aged  medium      no     excellent                 yes
12  middle_aged    high     yes          fair                 yes
13       senior  medium      no     excellent                  no

### Entropy(A) = $"-\sum(pk)log2(pk)"$

In [27]:
def getEntropy(df, feature) :
    elements, counts = np.unique(df[feature], return_counts = True) # feature의 요소와 그 요소의 개수를 알기위해 unique를 사용한다. 
    #return_counts = True라고 해야 중복되지 않는 모든 요소들을 보여준다. 
    
    entropy = -np.sum([(counts[i]/np.sum(counts))*np.log2(counts[i]/np.sum(counts)) for i in range(len(elements))])
    #elememts가 yes일떄와 no일떄를 각각 계산하기 위해서 for문을돌려 위의 식을 그대로 구현해준 다음 -np.sum으로 다 더해준다. 
    
    return(entropy)

In [28]:
getEntropy(df, "class_buys_computer")

0.9402859586706311

### Gain(S,A) = E(S)- I(S,A)

In [144]:
def getGainA(df, feature) :
    info_D = getEntropy(df, feature) # 목표변수에 대한 Entropy 를 구하기
    columns = list(df.loc[:, df.columns != feature]) # 목표변수(feature)를 제외한 나머지 변수들의 변수명을 리스트 형태로 저장
    len_df = len(df) # df의 개수 
    
    real_gain =[]
    
    for i in columns:
        unique = df[i].unique() #각변수에 존재하는 값들이 무엇인지 알기 위해서 unique한 값을 뽑아서 저장한다.
        
        info_D2 = 0
        
        for j in range(len(unique)):
            a = df.loc[df[i] == unique[j]] #i=0일땐 일단 age니까 age의 첫번째값(youth)와 j=0일떄 age의 유니크한값(youth)
            #이런식으로 값이 같아질때의 행만을 뽑아서 계산할 수 있도록 했습니다. 
            
            info_D2 += (len(a[i])/len_df) *(getEntropy(a, feature)) #I(S,A)를 구하기 위한 식
            #np,sum을 이용하려고 하니 값이 다르게 나와서 초기값을 0으로 주고 계속 더하는방식으로 하였다. 
        
        gain = info_D - info_D2 #위에 써있는 Gain(S,A)식처럼 parent_gain에서 childern_gain을 빼주어 구한다. 
        real_gain.append(gain) #새로운 리스트를 만들어 넣어주지 않으면 제일 마지막값만 도출되기 때문에 빈 리스트를 생성하여 값들을 차례대로 넣어준다 
        
        
    result = real_gain
    return(result)

* 밑에는 getGainA(df, feature)를 구현하기위해서 코드 하나하나를 실행해본것을 첨부하였다.

In [108]:
#첫번째 for문을 구현하기 위함
columns = list(df.loc[:, df.columns != "class_buys_computer"])
for i in columns :
    unique = df[i].unique()
    print(unique)
    print(len(unique))

['youth' 'middle_aged' 'senior']
3
['high' 'medium' 'low']
3
['no' 'yes']
2
['fair' 'excellent']
2

In [110]:
#두번째 for문을 구현하기위함-1
unique = df["age"].unique()
b = df.loc[df["age"] == unique[0]]
print(b)

      age  income student credit_rating class_buys_computer
0   youth    high      no          fair                  no
1   youth    high      no     excellent                  no
7   youth  medium      no          fair                  no
8   youth     low     yes          fair                 yes
10  youth  medium     yes     excellent                 yes

In [146]:
#두번째 for문을 구현하기위함-2
unique = df["age"].unique()
b = df.loc[df["age"] == unique[1]]
print(b)

            age  income student credit_rating class_buys_computer
2   middle_aged    high      no          fair                 yes
6   middle_aged     low     yes     excellent                 yes
11  middle_aged  medium      no     excellent                 yes
12  middle_aged    high     yes          fair                 yes

In [145]:
getGainA(df, "class_buys_computer")

[0.24674981977443933,
 0.02922256565895487,
 0.15183550136234159,
 0.04812703040826949]

In [57]:
#정답
#getGainA(df, "class_buys_computer")

[['age', 0.24674981977443933],
 ['income', 0.02922256565895487],
 ['student', 0.15183550136234159],
 ['credit_rating', 0.04812703040826949]]